body{
  background-color: whitesmoke;
  margin: 0%;
  padding: 0%;
}


.side-bar{
  list-style: none;
  color: #fff;
  min-width: 50px;
  max-width: fit-content;
  margin-left: 0%;
  display: flex !important;
  flex-direction: row !important;
}
.side2{
  display: flex;
  flex-direction: column;
}
a:visited{
  color: #fff;
  text-decoration: none;
  list-style: none;
}
a:link{
  color: #fff;
  text-decoration: none;
}

/* ------------ */
/* Top Bar */
/* ------------ */
.main-area{
  border: 2px solid black;
  margin-top: 0%;
}
.sub-top{
  margin-bottom: 0% !important;
}

.top1{
  max-height: fit-content !important;
  margin-top: 0%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.circular--portrait img{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin: 0 20px;
}
/* .topbar{
  margin-left: 25%;
}
.dashboard{
  display: flex;
}
.rows{
  flex-direction: row;
} */